:root {
    --body-font: Arial, Helvetica, sans-serif;
    --accent1-color: black;
    --accent2-color: aqua;
    --heading-font: "Times New Roman", "Georgia", sans-serif;
    --primary-color: green;
    /*--secondary-color: #f4a261;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a {
    flex: 1 1 100%;

}

body {

    font-family: var(--body-font);
    color: var(--accent1-color);

}

footer {
    display: grid;
}

header,
main,
footer {
    position: relative;
    width: 1000px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr;

    /* float: clear; */
    position: relative;
}

.contact {
    text-align: center;
    grid-template-rows: 25px 1fr;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inline {
    display: block;
}

.block {
    display: inline;
}

iframe {
    border: 8px black;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    position: relative;
    max-width: 100px;
}

.hero {
    position: relative;
    /* display: grid; */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    /* float: right; */
    width: 125px;
}

.hero,
h1 {
    position: absolute;
}

.hero,
article {
    position: absolute;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article img {
    /* float: right; */
    width: 125px;
}

.socialmedia a {
    text-decoration: none;

}

.adventure {
    display: grid;
}

.adventure figure img {
    max-width: 250px;
}

.address {
    text-align: center;
}

.main_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}