:root {
    --body-font: Arial, Helvetica, sans-serif;
    --accent1-color: black;
    --accent2-color: rgb(36, 129, 129);
    --heading-font: "Times New Roman", "Georgia", sans-serif;
    --primary-color: rgb(23, 143, 23);
    --secondary-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(24, 96, 114);

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: var(--accent2-color);

}

nav a {
    flex: 1 1 100%;

}

body {

    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer {
    position: relative;
    width: 1000px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

article {
    position: absolute;
    max-width: auto;
    max-height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

p {
    position: relative;
}

section {
    position: relative;
}

form {
    background-color: lightgray;
}

input,
label,
textarea,
button {
    background-color: darkgray;
}

.hero {
    position: relative;
}

.hero article img {
    float: right;
    width: 125px;

}

.hero h1 article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.adventure {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2 {
    position: relative;
}

.contact {
    text-align: center;
    grid-template-rows: 25px 1fr;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inline {
    display: block;
}

.block {
    display: inline;
}

iframe {
    border: 8px black;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    position: relative;
    max-width: 100px;
}

.adventure figure img {
    max-width: 250px;
}

.address {
    text-align: center;
    Position: relative;
}

.contact {
    position: relative;
}

.main_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    display: grid;
}