* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --normal-color: gray;
}
nav {
background-color: darkblue;
padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 2px var(--normal-color);
}

p {
    padding: 0px;
}

main {
    max-width: 840px; 
}

main img {
    width: 150px;
    height: auto;
    border: 2px;
    padding: 2px;
    box-shadow: 0 0 30px var(--normal-color) ;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 16px;
    left: 125px;
}
footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}