:root {
    --normal-color: gray;
}
n
av {
background-color: darkblue;
padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--normal-color);
}

p {
    padding: 0px;
}

main {
    max-width: 840px; 
}

main img {
    width: 150px;
    height: auto;
    border: 2px;
    padding: 10px;
    box-shadow: 0 0 30px var(--normal-color) ;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--normal-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}

